{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burgers' Zoo Chatbot</title>
    <link rel="stylesheet" href="{% static 'chatbot/styles.css' %}">
    {% csrf_token %}
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
    <div class="container">
        <h1>Welkom bij de Burgers' Zoo Chatbot!</h1>
        <div class="chat-box" id="chat-container">
            <div id="chat-log" class="chat-log"></div>
            <div class="input-area">
                <input type="text" id="user-input" placeholder="Typ je vraag..." class="input-box">
                <button id="send-btn" class="send-btn">Verstuur</button>
            </div>
            <div class="options-container">
                <div class="retrieval-options">
                    <label class="rag-container">
                        <input type="checkbox" id="rag-checkbox"> Enable RAG
                        <span class="top-n-wrapper">
                            <span>top_n:</span>
                            <input type="number" id="rag-top-n" class="top-n-input" min="1" placeholder="10">
                        </span>
                    </label>
                    <h5>Optional RAG steps:</h5>
                    <label><input type="checkbox" id="classification-checkbox"> Enable query classification</label>
                    <label><input type="checkbox" id="rephrasing-checkbox"> Enable query rephrasing</label>
                    <label class="reranking-container">
                        <input type="checkbox" id="reranking-checkbox"> Enable reranking
                        <span class="top-n-wrapper">
                            <span>top_n:</span>
                            <input type="number" id="reranking-top-n" class="top-n-input" min="1" placeholder="5">
                        </span>
                    </label>
                    <label><input type="checkbox" id="repacking-checkbox"> Enable repacking</label>
                </div>
                <div class="chat-history-option">
                    <h5>Other settings:</h5>
                    <label><input type="checkbox" id="enable-chat-history"> Enable chat history</label>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'chatbot/script.js' %}"></script>
</body>
</html>
